.map{
    text-align: center;
    margin: auto;
}
.navbar {
    text-align: center;
}
.register{
    display: grid;
    row-gap: 5px;
}
.login{
    display: grid;
    row-gap: 5px;
}
.loginbutton{
    background-color: rgb(25, 22, 235);
    color: white;
    font-weight: bold;
    width: 10%;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.register{
    background-color: aliceblue;
}
.navbar-toggler{
    background-color: aliceblue;
}

.box {
    background-color: rgb(13, 13, 14);
    border-radius: 20px;
    grid-column: 1 / span 2;
    grid-row: 1;
    width: auto;
    height: auto;
    margin: auto;
    border-bottom: 5px solid rgb(133, 132, 130);
    color: aliceblue;
    padding: 10px;
  }
  .registerbutton{
    background-color: rgb(25, 22, 235);
    color: white;
    font-weight: bold;
    max-width: 20%;
    
  margin: 0;
  position: absolute;
  top: 105%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }